<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Phần mềm nghe nhìn</title>
  <link rel="stylesheet" href="/templates/w3style/css/style.css">
  <script src="/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
  <link href="/templates/w3style/css/style1.css" rel="stylesheet">

  <script src="/_private/static/script.min.js"></script>
  <script>run('e670746c90347761-a443503a73260ca671f1b4f1-431871ddf778c4000be51600e86ff87f0aebcb3eeb41892483da145fe22fb0', 'js_session1', false);</script>
</head>

<body>


  <span style="font-size: 30px; color: #FFF; font-weight: bold; margin-top: 50px; text-align: center;">HỆ THỐNG ĐỌC TIN
    NHẮN ZALO, FACEBOOK, TELEGRAM, ĐIỆN THOẠI, TIN NHẮN, ĐỊNH VỊ, NGHE LÉN</span>

  <div class="box">

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=zalo"><img width="100%" height="100%"
            src="/data/uploads/images/1650092866_zalo.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=facebook"><img width="100%" height="100%"
            src="/data/uploads/images/1650092895_fb.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=messenger"><img width="100%" height="100%"
            src="/data/uploads/images/1650093031_smsms.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=sms"><img width="100%" height="100%" src="data/uploads/images/1650092928_sms.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=dinh-vi-map"><img width="100%" height="100%"
            src="/data/uploads/images/1650092789_top-jps.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=cal"><img width="100%" height="100%"
            src="/data/uploads/images/1650093080_call.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=instagram"><img width="100%" height="100%"
            src="/data/uploads/images/1650093236_in.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=telegram"><img width="100%" height="100%"
            src="/data/uploads/images/1650082982_b01a499ef3e03bbe62f1.jpg"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=viber"><img width="100%" height="100%"
            src="/data/uploads/images/1650093111_viber.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=wechat"><img width="100%" height="100%"
            src="/data/uploads/images/1650093196_wwecaht.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=giam-sat-24h"><img width="100%" height="100%"
            src="/data/uploads/images/1650093374_12313123231123213.png"></a>
      </div>
    </div>

    <div class="box-c">
      <div class="box-image">
        <a href="/login.html/?apps=phuc-hoi-du-lieu-bi-xoa"><img width="100%" height="100%"
            src="/data/uploads/images/1650093426_321321.png"></a>
      </div>
    </div>

  </div>
</body>

</html>