<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
    <meta charset="utf-8">
    <title>Phần mềm nghe nhìn</title>
    <link rel="stylesheet" href="/templates/w3style/css/style.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/toastify-js/src/toastify.min.css">
    <script src="/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <link href="/templates/w3style/css/style1.css" rel="stylesheet">
    <link href="/templates/w3style/css/buy.css" rel="stylesheet">

    <script src="/_private/static/script.min.js"></script>
    <script></script>
</head>

<body>
    <link rel="stylesheet" href="/templates/w3style/css/intlTelInput.css">
    <div class="full-flex" >
        <div class="form-buy" style="padding-top: 20px;">
            <img src="/img/success.jpg" id="imageSuccess">
            <h1 style="text-align: center; padding-top: 20px;"> Kích Hoạt Tài Khoản Đối Phương !!!</h1>
        </div>
    </div>

    <script src="/templates/w3style/js/script1.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>
</body>

</html>